// Place all the styles related to the SalesItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  margin: 0px;
  padding: 0px;
  width: 50%;
  box-shadow: 10px 10px 5px #888888;
  border: 1px solid #000000;
  border-collapse: collapse;

}

td, th{
  border: 1px solid #000000;
}